---
Language: Cpp
IndentWidth: 8
TabWidth:    8
ColumnLimit: 109
UseTab:      Never

AlignTrailingComments: true
AlignOperands:         true

SortIncludes: true
SpaceBeforeAssignmentOperators: true
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
